.error-message {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
  font-weight: bold;
}

.success-message {
  color: #168d16;
  background-color: #d6ffd6;
  border: 1px solid #4aa84a;
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
  font-weight: bold;
}

.order-form button {
  background-color: #4CAF50;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/*  .order-form button:hover:not(:disabled) {
    background-color: #2980b9;
  }*/

  .order-form button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
